html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Vidaloka", serif;
  font-size: clamp(30px, 9vw, 100px);
  margin: 0;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

@keyframes rotateSimple {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes plane {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes moveCloud {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1500%);
  }
}
@keyframes hoverBtn {
  0% {
    transform: translate(-3px, -3px);
  }
  14% {
    transform: translate(0px, -3px);
  }
  28% {
    transform: translate(3px, -3px);
  }
  42% {
    transform: translate(3px, 0px);
  }
  57% {
    transform: translate(3px, 3px);
  }
  71% {
    transform: translate(0, 3px);
  }
  85% {
    transform: translate(-3px, 5px);
  }
  100% {
    transform: translate(-3px, 0px);
  }
}
@keyframes hoverBtnReverse {
  0% {
    transform: translate(3px, 3px);
  }
  14% {
    transform: translate(0px, 3px);
  }
  28% {
    transform: translate(-3px, 3px);
  }
  42% {
    transform: translate(-3px, 0px);
  }
  57% {
    transform: translate(-3px, -3px);
  }
  71% {
    transform: translate(0, -3px);
  }
  85% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(3px, 0px);
  }
}
.btn {
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #F67095;
}

.headerContainer {
  display: flex;
}

.header h1 {
  margin: 0.5rem 0 0 2rem;
  font-size: 3rem;
  font-size: 72px;
  background: -webkit-linear-gradient(#91CC92, #F2EB8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

okplm,
.headerNav {
  margin-left: 12%;
}

.headerList {
  display: flex;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 5rem;
  border-radius: 5rem;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: 1s box-shadow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  border: none;
}
.headerBtn:hover {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.headerElement {
  list-style-type: none;
}

.headerBtn:hover::before, .headerBtn:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #91CC92;
  border-radius: 5rem;
  animation: 2s hoverBtn infinite;
}

.headerBtn:hover::after {
  background-color: #ADCC91;
  animation: 2s hoverBtnReverse infinite;
}

li p {
  font-size: 1.1rem;
}

.JuniorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.JuniorContainerCloud {
  position: absolute;
  width: 100%;
}

.fa-cloud {
  color: gray;
  font-size: 8rem;
  animation: moveCloud 20s ease infinite;
}

.CloudFirst {
  top: 0;
  left: -20rem;
}

.CloudTwo {
  top: 50rem;
  left: 100rem;
}

.JuniorContainerContent {
  background-color: #91CC92;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.JuniorContainerContent::before {
  content: "";
  background-color: #ADCC91;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotate(-10deg);
  animation: rotateSimple 1.5s ease-in-out;
}

.JuniorImg {
  transform: rotate(-5deg);
  animation: plane 5s ease-in-out infinite alternate;
}

/*# sourceMappingURL=App.css.map */
