html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(30px, 9vw, 100px);
  margin: 0;
}

h2 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

@keyframes rotateSimple {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes plane {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes moveCloud {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1500%);
  }
}
@keyframes hoverBtn {
  0% {
    transform: translate(-3px, -3px);
  }
  14% {
    transform: translate(0px, -3px);
  }
  28% {
    transform: translate(3px, -3px);
  }
  42% {
    transform: translate(3px, 0px);
  }
  57% {
    transform: translate(3px, 3px);
  }
  71% {
    transform: translate(0, 3px);
  }
  85% {
    transform: translate(-3px, 5px);
  }
  100% {
    transform: translate(-3px, 0px);
  }
}
@keyframes hoverBtnReverse {
  0% {
    transform: translate(3px, 3px);
  }
  14% {
    transform: translate(0px, 3px);
  }
  28% {
    transform: translate(-3px, 3px);
  }
  42% {
    transform: translate(-3px, 0px);
  }
  57% {
    transform: translate(-3px, -3px);
  }
  71% {
    transform: translate(0, -3px);
  }
  85% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(3px, 0px);
  }
}
@keyframes openPageContent {
  from {
    opacity: 0;
    transform: translate(0, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes openPageButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #F67095;
}

a {
  text-decoration: none;
}

.headerContainer {
  display: flex;
}

.header h1 {
  margin: 0 0 0 2rem;
  font-size: 3rem;
  font-size: 60px;
  background: -webkit-linear-gradient(#91CC92, #F2EB8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerNav {
  margin: 0.5rem 0 0 12%;
}

.headerList {
  display: flex;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 5rem;
  border-radius: 5rem;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: 1s box-shadow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  border: none;
}
.headerBtn:hover {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.headerElement {
  list-style-type: none;
}

.headerBtn:hover::before, .headerBtn:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #91CC92;
  border-radius: 5rem;
  animation: 2s hoverBtn infinite;
}

.headerBtn:hover::after {
  background-color: #ADCC91;
  animation: 2s hoverBtnReverse infinite;
}

.headerBtnCurrents {
  background: linear-gradient(#91CC92, #F2EB8D);
}

li p {
  font-size: 1.1rem;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  width: 96.65%;
  height: 15rem;
  background-color: rgb(34, 34, 34);
}
footer p {
  color: #F2EB8D;
}

.containerInfo {
  width: 30%;
  height: 100%;
  display: flex;
}

.imgFooter {
  width: 40%;
  object-fit: cover;
  border-radius: 5rem;
}

.containerTextInfo {
  margin-left: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerCopyright {
  position: absolute;
  left: 48%;
  top: 50%;
}

.containerMeRetrouver {
  position: absolute;
  left: 80%;
  top: 20%;
}

.fa-github, .fa-linkedin {
  color: white;
  font-size: 5rem;
  margin-left: 1rem;
}

.JuniorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.JuniorContainerCloud {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.fa-cloud {
  color: gray;
  font-size: 8rem;
  animation: moveCloud 15s ease infinite;
}

.CloudFirst {
  top: 45rem;
  left: 40rem;
  width: 66.6%;
}

.CloudTwo {
  width: 108.3%;
  top: 2rem;
  left: -10rem;
}

.JuniorContainerContent {
  background-color: #91CC92;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.JuniorContainerContent::before {
  content: "";
  background-color: #ADCC91;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotate(-10deg);
  animation: rotateSimple 1.5s ease-in-out;
}

.JuniorImg {
  transform: rotate(-5deg);
  animation: plane 5s ease-in-out infinite alternate;
}

.containerContent {
  padding: 3%;
}

.containerFirst {
  display: flex;
  animation: openPageContent 1s ease;
}

.containerImgLeft, .containerImgRight {
  position: relative;
  width: 25%;
}

.elementDeco {
  position: absolute;
}

.span1 {
  background-color: #F2EB8D;
  top: 10%;
  left: 0;
  width: 50px;
  height: 100px;
  border-radius: 0 4rem 4rem 0;
}

.span2 {
  background-color: #F67095;
  top: 82%;
  left: 80%;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
}

.imgHome {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 0 4rem;
  min-width: 220px;
}

.containerText {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.containerText h1 {
  color: #ADCC91;
  font-size: 2rem;
  text-shadow: 1px 1px 3px #F2EB8D;
}
.containerText h2 {
  color: #F2EB8D;
  font-size: 5rem;
  padding: 0 2rem 0 2rem;
  text-shadow: 1px 1px 3px #91CC92;
}

.imgRight {
  margin-top: 4rem;
}

.span3 {
  background-color: #91CC92;
  top: 90%;
  left: 10%;
  width: 75px;
  height: 75px;
  border-radius: 0 2rem 2rem 2rem;
}
.span4 {
  background-color: #ADCC91;
  top: -5%;
  left: 80%;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
}

.containerSecond {
  margin-top: 3rem;
  opacity: 0;
  animation: openPageButton 1s ease 1s both;
}
.containerSecond ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerSecond a {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
  border: solid 1px #F67095;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgb(246, 112, 150);
  background-color: white;
}
.containerSecond a:hover::after {
  opacity: 1;
}
.containerSecond a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  border-radius: 2rem;
  background-color: #F67095;
  box-shadow: 0 0 5px rgba(246, 112, 150, 0.5);
  transition: 1s opacity;
  border: #F67095;
}
.containerSecond a p {
  color: black;
}
.containerSecond li {
  list-style-type: none;
}

/*# sourceMappingURL=App.css.map */
